.nav-link{
    color: black;
}
.navbar .nav-item .nav-link:hover {
    color: green;
 }
.search-form {
    width: 40%;
    display: flex;
    align-items: center;
 }
.search {
    padding-left: 80px;
}
/* .l1 {
    padding-left: 10px;
    padding-bottom: 10px;
    color: white;
}
.Slider {
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: -1;
}
.top {
    padding-top: 200px;
    padding-left: 30px;
} */

#main {
    
    background-color: #F1FDF7;
    height: 510px;
    padding-top: 60px;

}

#get {
    position: absolute;
    left: 190px;
    top: 90px;
    color: white;
    
}